body{
  font-family: Arial, sans-serif;
  background-color: #eef2f7;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 900px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,1);
}

.title{
  text-align:center;
  color: #1E3A8A;
}



